.task-table {
   overflow-x: auto;
   padding: 10px;
   margin: 50px 0;
   width: 80%;
   height: 500px;
   box-shadow: 0 0 30px rgba(167, 167, 167, 0.331);
}

.content_titles h1 {
   font-weight: 400;
   font-size: 16px;
}

.mapTitles span {
   padding-left: 3px;
   font-size: 14px;
   color: #000;
}

.whom {
   color: rgb(149, 149, 149);
}

.flex_mapTable {
   justify-content: space-between;
   display: flex;
   align-items: center;
}

.flex_mapTable button {
   border: none;
   transition: .3s;
   font-family: "Roboto", sans-serif;
   margin: 0px 2px;
   font-weight: bolder;
   color: rgb(0, 0, 0);
   cursor: pointer;
   font-size: 13px;
   position: relative;
   height: 30px;
   width: 30px;
   background-color: rgb(201, 201, 201);
   border-radius: 100%;
}

.sendToTable {
   width: 75%;
   position: relative;
   right: 15px;
}

.sendToTable input {
   margin: 10px 0;
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   width: 100%;
   padding: 0px 5px;
   height: 55px;
   border: 2px rgb(98, 98, 98) solid;
}

.btn-content {
   display: flex;
   justify-content: center;
   align-items: center;
}

.btn-content button {
   transition: .3s;
   cursor: pointer;
   font-family: "Roboto", sans-serif;
   margin: 10px 0;
   width: 200px;
   height: 50px;
   background-color: black;
   color: #FFF;
   font-size: 20px;
}

.btn-content button:hover {
   color: rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
}