@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Moonrocks&display=swap');

.header {
     background-color: rgb(255, 255, 255);
     padding-top: 20px;
     padding-left: 100px;
     padding-right: 100px;
     box-shadow:  0 5px 5px  rgba(193, 193, 193, 0.47);
     padding-bottom: 20px;
     justify-content: space-between;
     display: flex;
     align-items: center;
}

.links{
     text-decoration: none;
}

/*!   PC*/
.pc_content{
     width: 100%;
     display: flex;
     justify-content: space-between;
}
.Home{
     font-size: 22px;
     font-weight: 500;
     letter-spacing: 2px;
}
.pc_content span {
     line-height: 30px;
     text-decoration: none !important;
     list-style: none;
     color:  rgb(0, 0, 0);
}

/*!   Mobile*/
.open {
     transition: .2s;
     letter-spacing: 5px;
     font-family: 'Rubik Moonrocks', cursive;
     font-size: 25px;
     cursor: pointer;
}

.open:hover {
     text-shadow: 0 0 2px rgba(0, 0, 0, 0.231);
}

.right_content img {
     transition: .5s;
     cursor: pointer;
     width: 60px;
     margin: 0px;
}

.openMenu {
     color: #000;
}

.right_content img:hover {
     transform: rotate(360deg);
}